{% extends 'core/base.html' %}

{% block title %}Garantias{% endblock %}

{% block content %}

{% include 'garantia/includes/modal.html' %}
<section class="resume-section">
    <div class="resume-section-content">
        <h1 class="mb-5 h1-resume-section">
            Garantias por fecha
        </h1>

        {% include 'garantia/includes/submenu_garantia.html' %}
        
        {% include 'garantia/includes/filters_garantia_completas.html' %}

        {% if list_item_terminado %}
          
          <div class="row w-100 mb-5 mx-auto table-responsive">
              <table class="table table-striped table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Cliente</th>
                      <th scope="col">Articulo</th>
                      <th scope="col">Tecnico</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Accion</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for element in list_item_terminado %}
                      <tr>
                        <td>{{element.cliente}}</td>
                        <td>{{element.articulo}}</td>
                        <td>{{element.tecnico|title}}</td>
                        <td>{{element.modificacion}}</td>
                        <td>{{element.estado|title}}</td>
                        <td>
                          <a onclick="return abrir_modal ('{% url 'garantias:delete' element.id %}')" href="#"><i class="fas fa-trash-alt icon-table-del"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
          </div>
        {% else %}
          <p class="p-vacia">Sin garantias</p>
        {% endif %}
    </div>
</section>
<hr class="m-0" />

{% endblock %}

<script>

    $('form select').on('change', function(){
    $(this).closest('form').submit();
  
    });

</script>