{% if '/servicios/pendientes/' in request.path %}
    <div class="col-12 col-lg-3  mt-5 mt-lg-2 text-center mt-3">
        <form action="{% url 'servicios:filter' %}" method="POST">
            {% csrf_token %}
            <select name="select_profile" id="select_profile" class="btn btn-secondary dropdown-toggle" onchange="this.form.submit()">
                <option  value="None">Técnico</option>
                <option name='todo'  value="all">Todos</option>
                {% for element in profiles %}
                    <option value="{{element.usuario}}">{{element.usuario|title}}</option>
                {% endfor %}
                
            </select>
        </form>
    </div>

{% else %}

    <div class="col-12 col-lg-3  mt-5 mt-lg-2 text-center mt-3">
        <form action="{% url 'servicios:filter_completados' %}" method="POST">
            {% csrf_token %}
            <select name="select_profile" id="select_profile" class="btn btn-secondary dropdown-toggle" onchange="this.form.submit()">
                <option  value="None">Técnico</option>
                <option name='todo'  value="all">Todos</option>
                {% for element in profiles %}
                    <option value="{{element.usuario}}">{{element.usuario|title}}</option>
                {% endfor %}
                
            </select>
        </form>
    </div>
{% endif %}