{% if '/pendientes/' in request.path  %}
<div class="row w-100 mx-auto mb-5 justify-content-center">
    <div class="col-12 col-lg-5  mt-5 mt-lg-2 text-center mt-3">
        <form action="{% url 'taller:search_pen' %}" method="GET">
            <div class="input-group text-center">
                <input type="search" class="form-control" placeholder="Ingresa un cliente" name="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-search" type="submit">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% else %}
<div class="row w-100 mx-auto mb-5 justify-content-center">
    <div class="col-12 col-lg-5  mt-5 mt-lg-2 text-center mt-3">
        <form action="{% url 'taller:search_ter' %}" method="GET">
            <div class="input-group text-center">
                <input type="search" class="form-control" placeholder="Ingresa un cliente" name="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-search" type="submit">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}