{% extends 'core/base.html' %}

{% block title %}Agregar{% endblock %}

{% block content %}
<section class="resume-section">
    <div class="resume-section-content">
        <h1 class="mb-5 h1-resume-section">
            Categorias
        </h1>
    
        {% include 'inventario/includes/submenu_categoria.html' %}

        <form method="post">
            {%csrf_token%}

            <div class="form-group">
                <label class="label-form">Nombre</label>
                {{form.nombre}}
            </div>

            <button type="submit" class="btn btn-success btn-form">Crear</button>
        </form>
    </div>
</section>
<hr class="m-0" />
{% endblock %}