{% extends 'core/base.html' %}

{% load humanize %}

{% block title %}Inventario{% endblock %}

{% block content %}

<section class="resume-section">
    <div class="resume-section-content">
        <h1 class="mb-5 h1-resume-section">
            Inventario
        </h1>

        {% include 'inventario/includes/submenu_inventario.html' %}

        {% if object_list %}

          <div class="row w-100  mb-5 mx-auto table-responsive">
              <table class="table table-striped table-dark mt-5 mt-lg-0">
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Fecha modificación</th>
                      <th scope="col">Acción</th>
                      <th scope="col">Usuario</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% load inventario_tags %}

                  {% for element in  object_list %}
                    <tr>
                      <td>{{ element.nombre }}</td>
                      <td>{{ element.history_date }}</td>
                      <td>{{ element.get_history_type_display|traslate_status}}</td>
                      <td>{{ element.history_user|title }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
          </div>
        {% else %}
          <p class="p-vacia">Sin articulos</p>
        {% endif %}

    </div>
</section>
<hr class="m-0" />
{% endblock %}