<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header ">
            <h5 class="modal-title" id="exampleModalLabel">Articulo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">

            <form role="form" action="{% url 'inventario:update' obj.pk %}" method="post"  class="form-inline">
                
            {% csrf_token %} 

            <div class="text-center col-12">
                <div class="form-group mb-3 mx-auto">
                    {{form.categoria}}
                </div>

                <div class="form-group mb-3 mx-auto">
                    {{form.nombre}}
                </div>

                <div class="form-group mb-3 mx-auto">
                    {{form.proveedor}}
                </div>

                <div class="form-group mb-3 mx-auto">
                    {{form.precio}}
                </div>

                <div class="form-group mb-3 mx-auto">
                    {{form.cantidad}}
                </div>
            </div>

            <div class="modal-footer mx-auto">

                <button type="submit" class="btn btn-success">Actualizar</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

            </div>

            </form>
        </div>
    </div>
</div>