<div class="row w-100 mx-auto mb-5 justify-content-center">
    <div class="col-12 col-lg-3  mt-5 mt-lg-2 text-center mt-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fecha
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="">Todo</a>
                    <a class="dropdown-item" href="">Todo</a>
                    <a class="dropdown-item" href="">Todo</a>
            <!-- {% for p in producto_obj %}
                {% for x in p.category.all %}
                    <a class="dropdown-item" href="{% url 'home:category' x.id %}">{{x.name}}</a>
                {% endfor %}
            {% endfor %} -->
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-3  mt-5 mt-lg-2 text-center mt-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Personal
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="">Todo</a>
                    <a class="dropdown-item" href="">Todo</a>
                    <a class="dropdown-item" href="">Todo</a>
            <!-- {% for p in producto_obj %}
                {% for x in p.category.all %}
                    <a class="dropdown-item" href="{% url 'home:category' x.id %}">{{x.name}}</a>
                {% endfor %}
            {% endfor %} -->
            </div>
        </div>
    </div>
</div>