{% extends 'registration/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<style>.errorlist{color:red;}</style>
<div class="content-form mx-auto">
    <h1 class="h1-registration mb-4">Acceso</h1>
    
    {% if form.non_field_errors %} 
        <p style="color:red">Usuario o contraseña incorrectos</p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}

        <label class="label-registration" for="">Usuario</label>
        <input id="id_username" class="form-control" name="username" type="text" placeholder="Ingrese usuario" required>

        <label class="label-registration" for="">Contraseña</label>
        <input id="id_password" class="form-control" name="password" type="password" placeholder="Ingrese Contraseña" required>

        <button type="submit" class="btn btn-success mt-5 btn-registration">Entrar</button>

    </form>

    <div class="mt-5">
        <a href="{% url 'password_reset' %}" class="link-registration"><p class="p-registration">Cambiar contraseña</p></a>
    </div>

</div>
        
{% endblock %}